@import '../../styles/Master.Style.scss';

.table-actions-wrapper {
  position: absolute;
  min-width: 100px;
  border-radius: 1rem 0 0 1rem;
  background-color: $c-gray-primary;
  z-index: 1;
  padding: 0 0.25rem;
  @include d-inline-flex-center;

  @include rtl {
    border-radius: 0 1rem 1rem 0;
  }

  .btns-icon {
    margin: 0 0.25rem;
  }

  &.theme-original {
    background-color: $c-primary;
  }
}

// Start Table
.table-responsive {
  position: relative;
  min-width: 70rem;
  max-width: 70rem;
  overflow-x: auto;

  .MuiTableContainer-root {
    overflow-y: auto;
    border-radius: 0;
    max-height: calc(100vh - 15rem);
  }
}

.table-wrapper {
  padding: 1rem;
  padding-top: 0;

  &.MuiTable-root {
    border-collapse: separate;
    border-spacing: 0 1em;

    .MuiTableCell-root {
      border-bottom: 0;
      font-family: $ff-default;
      white-space: nowrap;

      @include rtl {
        text-align: right;
      }

      &[draggable='true'] {
        cursor: move;
      }

      &.drag-over-cell {
        box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem 0.25rem 0 0;
      }
    }

    .actions-cell {
      background-color: $c-primary;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $c-primary;
      padding-right: 2rem;

      .actions-cell-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .MuiTableHead-root {
      .MuiTableSortLabel-root {
        min-height: 2rem;
        font-weight: bold;
        font-family: $ff-semibold !important;
        color: $c-white;
      }
      .MuiTableRow-head {
        box-shadow: $bs-secondary;
        border-radius: 1rem;

        .MuiTableCell-head {
          background-color: $c-primary;
          position: sticky;
          top: 0;
          font-size: $fz-table-header;
          font-weight: bold;
          font-family: $ff-semibold !important;
          color: white;
          z-index: 2 !important;
          width: 50px;

          &:nth-child(3) {
            min-width: 40rem !important;
          }

          &:first-child {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            @include rtl {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
            }
          }
          &:last-child {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;

            @include rtl {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-top-left-radius: 1rem;
              border-bottom-left-radius: 1rem;
            }
          }

          &.actions-cell,
          &.checkboxes-cell {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }

    .MuiTableFooter-root {
      .MuiTableRow-footer {
        .MuiTableCell-footer {
          background-color: $c-gray-lighter;
          color: $c-black-light;
          font-size: $fz-table-footer;
        }
      }
    }

    &.theme-original {
      .MuiTableHead-root {
        .MuiTableRow-head {
          .MuiTableCell-head {
            background-color: $c-primary;
            color: $c-white;
          }
        }
      }

      .MuiTableFooter-root {
        .MuiTableRow-footer {
          .MuiTableCell-footer {
            background-color: $c-blue-lighter;
            color: $c-white;
            font-size: $fz-table-footer;
          }
        }
      }
    }
  }
}

.table-responsive {
  .pagination-component-wrapper {
    padding: 0.5rem;
    background-color: $c-white;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

//  Start Table Pagination (original)
.pagination-wrapper {
  background-color: $c-white;
  border-top: 2px solid $c-gray-lighter;
  color: $c-blue-lighter;
  border-radius: 0 0 0.5rem 0.5rem;

  .MuiTypography-root {
    color: $c-blue-lighter;
  }

  .MuiTablePagination-toolbar {
    padding: 0.25rem 0.5rem;
    min-height: unset;
  }

  .select-wrapper {
    background-color: $c-gray-lightest;
    border-radius: 1rem;
    margin: 0 0.5rem;
    overflow: hidden;
    min-width: 70px;
    color: $c-primary;

    path {
      fill: $c-primary;
    }

    .MuiSelect-select {
      width: 100%;
      @include d-flex-v-center-h-between;

      @include rtl {
        padding-left: 24px;
        padding-right: 0.5rem;
      }
    }

    .MuiSelect-icon {
      @include rtl {
        right: initial;
        left: 0;
      }
    }
  }

  .btns-icon {
    &.theme-transparent {
      color: $c-primary;
    }
  }
}

.MuiTablePagination-root {
  .MuiTablePagination-actions {
    svg {
      @include rtl {
        transform: scaleX(-1);
      }
    }
  }
}

.table-cellOpation {
  width: 20px;

  &.is-with-line {
    border-left: 1.5px solid $c-gray-secondary;
    @include rtl {
      border-right: 1.5px solid $c-gray-secondary;
      border-left: none;
    }
  }
}

.MuiTableRow-root {
  &:nth-child(3) {
    min-width: 40rem !important;
  }

  .MuiTableCell-body {
    background-color: $c-white;
    color: $c-gray-primary;
  }

  &:nth-child(even) {
    .MuiTableCell-body {
      background-color: $c-gray-lightest;
    }
  }

  &:hover,
  &.table-row-overlay {
    .MuiTableCell-body {
      background-color: $c-blue-lightest;
    }
  }
}

.MuiTableRow-root {
  border-radius: 1rem;
  box-shadow: $bs-secondary;

  .MuiTableCell-body {
    height: 5rem;
    min-height: 5rem;
    background-color: white;
    color: $c-black-light;
    font-size: $fz-table-footer;
    font-weight: $fw-bold;
    transition: border 0.1s ease-in-out;

    &.actions-cell-wrapper {
      text-align: right;
    }

    &:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      @include rtl {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;

      @include rtl {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }
  }

  &:nth-child(odd) {
    .MuiTableCell-body {
      background-color: white;
    }
  }

  &:hover,
  &.table-row-overlay {
    .MuiTableCell-body {
      background-color: $c-blue-lightest;
    }
  }

  &.has-validation {
    transition: border, 0.1s ease-in-out;
    border: 3px solid $c-danger;

    &:first-child {
      border-bottom: 2px solid $c-danger;
    }
  }

  &.is-disabled {
    .MuiTableCell-body {
      background-color: $c-gray-lighter !important;
      color: $c-gray !important;
    }
  }
}

.MuiTableCell-root {
  border-bottom: 0;
  font-family: $ff-default;
  white-space: nowrap;

  @include rtl {
    text-align: right;
  }

  &[draggable='true'] {
    cursor: move;
  }

  &.drag-over-cell {
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.MuiTableCell-head {
  background-color: $c-primary;
  position: sticky;
  top: 0;
  font-size: $fz-table-header;
  font-weight: bold;
  font-family: $ff-semibold !important;
  color: #5b5b5b;
  z-index: 2 !important;
  min-width: 10rem;
  max-width: 10rem;

  &:first-child {
    min-width: 10.5rem;
    max-width: 10.5rem;
  }

  &:nth-child(3) {
    min-width: 6rem;
    max-width: 6rem;
  }

  &:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    @include rtl {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  &:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @include rtl {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  &.actions-cell,
  &.checkboxes-cell {
    font-size: 12px;
    text-align: center;
  }
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  padding: 0 1.5rem;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.table-row-wrapper {
  width: 100%;

  .MuiTableRow-root {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    @include rtl {
      flex-direction: row-reverse;
    }

    .MuiTableCell-root {
      border-bottom: none;
      min-width: 15rem;
      max-width: 15rem;

      &:nth-child(3) {
        min-width: 9rem;
        max-width: 9rem;
      }
    }
  }
}
